<% content_for (:title) do %>
  <%= "#{@projet.title} - Messages" %>
<% end %>
<!-- START EDIT CONTENT -->
<div class="container">
  <div class="row m-t-1">
    <div class="col-lg-10">
      <!-- START Panel Sessions -->
      <div class="panel panel-default   b-a-0 shadow-box">
          <div class="panel-heading">
            <!-- START Header with Option -->
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-5 col-xs-12">
                <div class="input-group">
                  <input class="form-control" placeholder="Search Inbox..." type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
                <div class="btn-toolbar pull-right hidden-lg hidden-md hidden-sm m-t-1">
                  <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-block btn-default" href="javascript: void(0)" role="button"><i class="fa fa fa-refresh"></i></a>
                    <a class="btn btn-block btn-default" href="javascript: void(0)" role="button"><i class="fa fa-star"></i></a>
                    <a class="btn btn-block btn-default" href="javascript: void(0)" role="button"><i class="fa fa-tag"></i></a>
                    <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-ban"></i></a>
                    <a class="btn btn-block btn-default" href="javascript: void(0)" role="button"><i class="fa fa-trash"></i></a>
                    <a class="btn btn-block btn-default" href="new-email.html" role="button"><i class="fa fa-pencil"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 col-sm-offset-2 col-lg-offset-3 col-md-offset-1 col-sm-4 col-sm-offset-2 hidden-xs">
                <!-- START Toolbar -->
                <div class="btn-toolbar pull-right">
                  <div class="btn-group" role="group" aria-label="...">
                    <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-refresh"></i></a>
                    <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-star"></i></a>
                    <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-tag"></i></a>
                    <a href="javascript: void(0)" class="btn btn-default" role="button"><i class="fa fa-ban"></i></a>

                  </div>
                </div>
                <!-- END Toolbar -->
              </div>
            </div>
            <!-- END Header with Option -->
          </div>
          <!-- START Table -->
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="small text-muted text-uppercase w-5"></th>
                  <th class="small text-muted text-uppercase w-10"></th>
                  <th class="small text-muted text-uppercase"><strong>From</strong></th>
                  <th class="small text-muted text-uppercase"><strong>Subject</strong></th>
                  <th class="small text-muted text-uppercase"></th>
                  <th class="small text-muted text-uppercase"></th>
                  <th class="small text-muted text-right text-uppercase"><strong>Date</strong></th>
                </tr>
              </thead>
            <tbody>
              <!-- START ROW Mail (New) -->
              <% @issues.each do |issue| %>
                <% comments_for_issue(issue, @comments).each do |com| %>
                  <tr>
                    <td class="v-a-m">
                      <i class="fa fa-fw fa-circle text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="You Got New Message"></i>
                    </td>
                    <td class="v-a-m">
                      <p class="text-nowrap m-b-0">
                          <label class="m-t-0">
                              <input value="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Select this Message" type="checkbox">
                          </label>
                          <a href="javascript: void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove from Favorites"><i class="fa fa-fw fa-star-o text-muted fa-lg m-l-1"></i></a>
                      </p>
                    </td>
                    <td class="v-a-m ">
                      <div class="media">
                        <div class="media-left  media-middle">
                          <div class="avatar avatar-image"> <img class="media-object img-circle" alt="Avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/magugzbrand2d/128.jpg"> <i class="avatar-status avatar-status-bottom  bg-success b-white"></i> </div>
                        </div>
                        <div class="media-body media-auto"><a href="email-details.html" class="text-gray-darker"><strong><span class="media-heading text-gray-darker"><%= com[:owner] %></span></strong></a>
                          <br>
                          <span class="media-heading"><span></span></span>
                        </div>
                      </div>
                    </td>
                    <td class="v-a-m">
                      <a href="email-details.html" class="text-gray-darker"><strong><span class="media-heading"><%= issue[:title] %></span></strong></a>
                      <br>
                      <span class="media-heading"><span><%= com[:content] %></span></span>
                    </td>

                    <td class="v-a-m text-right">
                      <span class="badge-outline badge badge-success"><%= issue[:label] %></span>
                    </td>
                    <td class="v-a-m text-right">
                      <%= link_to projet_message_path(@projet.id, com[:id]), class: 'btn btn-default', method: :delete, remote: true do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </td>
                    <td class="v-a-m text-right">
                      <span class="text-gray-darker"><%= com[:date] %></span>
                      <br><span>HH:MM</span>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              <!-- END ROW Mail (New) -->
            </tbody>
          </table>
        </div>
        <!-- END Table -->
        <div class="panel-footer">
          <span class="pull-left m-t-1">Affiche les messages de 1 à 10 sur <%= @count %> messages</span>
          <!-- START Pagination -->
          <div class="text-right">
            <nav>
              <ul class="pagination m-t-0 m-b-0">
                <li>
                  <a href="javascript: void(0)" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                <li class="active"><a href="javascript: void(0)">1</a></li>
                <li><a href="javascript: void(0)">2</a></li>
                <li><a href="javascript: void(0)">3</a></li>
                <li><a href="javascript: void(0)">4</a></li>
                <li><a href="javascript: void(0)">5</a></li>
                <li>
                  <a href="javascript: void(0)" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- START Pagination -->
        </div>
      </div>
      <!-- END Panel Sessions -->
      <!-- @include _modals -->
    </div>
  </div>

  <div class="row m-t-1">
      <div class="col-lg-10">
        <form action="<%= projet_messages_path(@projet.id) %>" method="post">
        <!-- START Panel Sessions -->
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <div class="panel panel-default b-a-0 shadow-box">
            <div class="panel-heading">
            <!-- START Header with Option -->
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                  <%= link_to projet_messages_path, class: 'p-l-0 btn btn-link' do %>
                    <i class="fa fa-fw fa-angle-left m-r-1"></i>Retour
                  <% end %>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-sm-offset-2 col-lg-offset-2 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
                  <!-- START Toolbar -->
                  <div class="btn-group hidden-lg hidden-md hidden-sm" role="group" aria-label="...">
                    <%= link_to projet_messages_path, class: 'btn p-l-0 btn-link' do %>
                      <i class="fa fa-angle-left m-r-1"></i>Retour
                    <% end %>
                  </div>
                  <div class="btn-toolbar pull-right">
                    <div class="btn-group" role="group" aria-label="...">
                      <%= link_to 'Annuler', projet_messages_path, class: 'btn btn-link' %>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="submit" class="btn btn-primary">
                        <i class="fa fa-fw fa-paper-plane"></i>
                        <span class="hidden-md hidden-sm hidden-xs">Envoyer</span>
                      </button>
                    </div>
                  </div>
                  <!-- END Toolbar -->
                </div>
              </div>
              <!-- END Header with Option -->
            </div>
            <!-- START Panel Body Content -->
            <div class="panel-body">
              <div class="input-group m-b-1">
                <span class="input-group-addon">A</span>
                <input name="dev" class="form-control disabled" placeholder="<%= @dev.github_username %>" type="text">
                <!-- Design à garder
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-fw fa-plus"></i></button>
                </span>
              -->
              </div>
              <div class="input-group m-b-2">
                <span class="input-group-addon">Issue</span>
                <select name="issue_number" placeholder="<%= @projet.title %>" class="form-control">
                  <% @issues.each do |issue| %>
                    <option value="<%= issue['number'] %>"><%= issue['title'] %></option>
                  <% end %>
                </select>
              </div>
              <textarea name="body" class="form-control" rows="6" placeholder="Entrez votre message..."></textarea>
              <!-- START Attachments Section -->
            </div>
            <div class="panel-footer">
              <!-- START Header with Option -->
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs"></div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-sm-offset-2 col-lg-offset-2 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
                  <!-- START Toolbar -->
                  <div class="btn-toolbar pull-right">
                    <div class="btn-group" role="group" aria-label="...">
                      <a role="button" class="btn btn-default" href="new-email.html"><i class="fa fa-fw fa-paperclip"></i>Ajouter Pièces jointes</a>
                    </div>
                  </div>
                  <!-- END Toolbar -->
                </div>
              </div>
              <!-- END Header with Option -->
            </div>
          </div>
        </form>
        <!-- END Panel Sessions -->
      </div>
    </div>
  <!-- END EDIT CONTENT -->
</div>
