<% content_for (:title) do %>
  <%= "Projets" %>
<% end %>
<div class="container">
  <br>
  <br>
  <div class="title-section-messages">
    <h1><strong>Mes Projets</h1>
    <% if current_user.role == "developpeur" %>
      <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-gray-light btn-lg" style="background-color:#0B173B">Inviter un client</button>
    <% end %>
  </div>

  <div class="row">
    <% @projets.each do |projet| %>
      <%= link_to projet_dones_path(projet) do %>
        <%= render "shared/card", projet: projet %>
      <% end %>
    <% end %>

    <% if current_user.role == "developpeur" %>
      <div class="col-xs-6 col-md-4" style="margin-top: 50px" >
        <div class="card-projet">
          <div class="panel panel-default b-a-0 shadow-box" style="height: 12em; background-color:#D9DCE2">
            <div class="panel-body text-center">
              <%= link_to new_projet_path, class:"toto" do %>
                <h2 style="font-size:60px">+</h2>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
            <h3 class="modal-title" id="lineModalLabel">Nouveau Client</h3>
          </div>
          <div class="modal-body">
            <%= render "shared/client_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
