<div class="container">
  <div class="form-group" style="color:black;">
    <%= simple_form_for @projet do |f| %>
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :repository_url, collection: @repolist %>
      <%= f.input :client_profile_id, collection: @clients
      <%= f.submit 'Créer un projet', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
