<h1>Clients#show</h1>
<p>Find me in app/views/clients/show.html.erb</p>

<%= @client.first_name %>
<%= @client.last_name%>
<%= @client.phone_number%>
<%= link_to "edit", edit_client_profile_path, class: "btn btn-primary" %></p>
<%= link_to "new", new_client_profile_path, class: "btn btn-primary" %></p>
