<h1>Mon Profil</h1>
  <div class="avatar avatar-image avatar-lg loaded">
    <div class="img-circle">
    <%= cl_image_tag @client.photo %>
    </div>
  </div>


<p>Prénom: <%= @client.first_name %></p>
<p>Nom: <%= @client.last_name%></p>
<p>Tel: <%= @client.phone_number%></p>

<%= link_to edit_client_profile_path do %></p>
  <i class="fa fa-pencil" aria-hidden="true"></i>
<% end %>

<%= link_to "Back", projets_path, class: "btn btn-primary" %></p>

