<div class="col-xs-6 col-md-4" style="margin-top: 50px">
  <div class="card-projet">
    <div class="panel panel-default b-a-0 shadow-box">
      <div class="panel-body">

        <h2><%= projet.title %></h2>
        Dernière modification le:
        <br>
        <% if current_user.role == "developpeur" %>
          <span><%= Date.parse(@service.get_issues(projet).last["created_at"].gsub(/T.*/, "")).strftime("%d %B %Y") %></span>
          <% unless projet.client_profile.nil? %>
            <p><strong>Client :</strong> <%= "#{projet.client_profile.first_name} #{projet.client_profile.last_name}" %></p>
          <% end %>
        <% end %>
        </div>


      <ul class="list-group no-bg">

        <li class="list-group-item  no-bg">
          Début du projet: <span><%= projet.created_at.strftime("%d %B %Y") %></span>
        </li>
      </ul>
      <%= render "shared/client_form" if projet.client_profile.nil? && current_user.role == "developpeur" %>
    </div>
  </div>
</div>
