<div class="col-xs-6 col-md-4" style="margin-top: 50px">
  <div class="card-projet">
    <div class="panel panel-default b-a-0 shadow-box">
      <div class="panel-body">
        <h2><%= projet.title %></h2>
        <p>Dernière modification le:</p>
        <% if current_user.role == "developpeur" %>
          <span><%= Date.parse(@service.get_issues(projet).last["created_at"].gsub(/T.*/, "")).strftime("%d %B %Y") %></span>
          <% unless projet.client_profile.nil? %>
            <p><strong>Client :</strong><%= "#{projet.client_profile.first_name} #{projet.client_profile.last_name}" %></p>
          <% else %>
            <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary">Ajouter un client</button>
          <% end %>
        <% end %>
      </div>

      <ul class="list-group no-bg">
        <li class="list-group-item  no-bg">
          Début du projet: <span><%= projet.created_at.strftime("%d %B %Y") %></span>
        </li>
      </ul>
      <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h3 class="modal-title" id="lineModalLabel">My Modal</h3>
            </div>
            <div class="modal-body">
              <%= render "shared/client_form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
