<nav class="navigation">
  <div class="navbar-default navbar navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <!-- Logo -->
        <%= link_to root_path, class: "current navbar-brand" do %>
          <img alt="Webdone" class="h-20" src="assets/images/spin-logo-inverted-@2X.png">
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown open">
              <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" href="javascript: void(0)" role="button" aria-expanded="true">
                <div class="avatar avatar-image avatar-lg avatar-inline loaded">
                    <img alt="User" src="https://s3.amazonaws.com/uifaces/faces/twitter/bruno_mart/128.jpg">
                </div>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <%= link_to projets_path do %>
                    <i class="fa fa-user fa-fw text-gray-dark m-r-1"></i>
                    Mon Profil
                  <% end %>
                </li>
                <li>
                  <%= link_to projets_path do %>
                    <i class="fa fa-user fa-fw text-gray-dark m-r-1"></i>
                    Mes projets
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>

        <% else %>

        <% end %>
      </div>
    </div>
  </div>
</nav>


