
<nav class ="navigation">
  <div class="navbar-default navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header" style="min-height: 5em">
        <%= link_to root_path do %>
          <%=image_tag 'favicon.png', :size => "60x60"%>
        <% end %>
      </div>

      <!-- START Right Side Navbar -->
      <div class="collapse navbar-collapse" id="navbar">
        <% if user_signed_in? %>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <!-- Links when logged in -->
              <%= link_to "Mes projets", projets_path %>
            </li>

            <!-- Avatar with dropdown menu -->
            <li class="dropdown open">
              <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" href="javascript: void(0)" role="button" aria-expanded="true">
                <div class="avatar avatar-image avatar-lg avatar-inline loaded">
                  <% if current_user.client_profile && current_user.client_profile.photo.url %>
                    <%= cl_image_tag (ClientProfile.find(current_user.client_profile.id)).photo %>
                  <%else %>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                    <%= t(".sign_out", default: "Log out") %>
                    <%end %>
                  <%end %>
                </div>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <% if current_user.client_profile %>
                    <%= link_to client_profile_path(current_user.client_profile) do %>
                      <i class="fa fa-user"></i>
                      Mon Profile
                    <% end %>
                  <% else %>
                  <% end %>
                </li>

                <li>
                  <%= link_to projets_path do %>
                    <i class="fa fa-user"></i>
                    Mes projets
                  <% end %>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>

            </li>
          </ul>

        <% else %>

        <% end %>
      </div>
    </div>
  </div>
</nav>


