<!-- ### META DONNEE -->

<% content_for (:title) do %>
  <%= "Accueil" %>
<% end %>
<% content_for :meta_title, "test" %>

<!-- BANNER -->
<%= render "shared/banner" %>

<!-- AVANTAGES -->

<div class="wd-section">
  <div class="container text-center">
    <h1>AVANTAGES</h1>
    <br>
    <br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-lp-card text-center">
          <i class="fa fa-twitter"></i>
          <h3>Rapidité</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque aspernatur recusandae et vel officia sapiente ducimus unde soluta nesciunt.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- COMMENT CA MARCHE -->

<!-- <div class="body-homepage">
  <div class="container-homepage">
    <div class="row">
      <h1 class="text-center">Comment ça marche ?</h1>

      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-homepage">
          <div class="card">
          <h1>1</h1>
          <h3> Recevez un lien direct vers votre projet par votre freelance</h3>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4 ">
        <div class="card-homepage">
          <div class="card">
          <h1>2</h1>
          <h3> Accedez à votre espace personnel et au dashboard de votre projet</h3>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-4 ">
        <div class="card-homepage">
          <div class="card">
          <h1>3</h1>
          <h3> Communiquez facilement avec votre developpeur via la plateforme</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->
=======

<%= render "shared/banner" %>
<%= render "shared/avantages" %>
<%= render "shared/ccm" %>

>>>>>>> da2cd5d37b5d697f78aea54e9811fb941c80445a








