<!-- ### META DONNEE -->
<% content_for (:title) do %>
  <%= "Accueil" %>
<% end %>
<% content_for :meta_title, "test" %>

<!-- BANNER -->
<%= render "shared/banner" %>

<!-- COMMENT CA MARCHE -->
<div class="wd-section">
  <div class="container text-center">
    <h1>Comment ça marche?</h1>
    <br>
    <br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <h3>1.Cliquez</h3>
          <br>
          <p>Recevez un lien direct vers votre projet par votre freelance</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <h3>2.Accédez</h3>
          <br>
          <p>Accedez à votre espace personnel et au dashboard de votre projet</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <h3>3.Communiquez</h3>
          <br>
          <p>Communiquez facilement avec votre developpeur via la plateforme</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- AVANTAGES -->
<div class="wd-section">
  <div class="container text-center">
    <h1>Avantages</h1>
    <br>
    <br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <%=image_tag 'rapidite.png', :size => '100x100' %>
          <br>
          <br>
          <h3>Rapidité</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <%=image_tag 'simplicité.png', :size => '100x100' %>
          <br>
          <br>
          <h3>Simplicité</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <%=image_tag 'transparence.png', :size => '100x100' %>
          <br>
          <br>
          <h3>Transparence</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EQUIPE -->
<div class="wd-section">
  <div class="container text-center">
    <h1>Notre équipe</h1>
    <br>
    <br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <div class="avatar avatar-lg avatar-image loaded">
            <%=image_tag 'cover.png' %>
          </div>
          <h3>Franco</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <div class="avatar avatar-lg avatar-image loaded">
            <%=image_tag 'cover.png' %>
          </div>
          <h3>Mathieu</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default b-a-0 shadow-box p-a-3 b-r-a-3">
          <div class="avatar avatar-lg avatar-image loaded">
            <%=image_tag 'cover.png' %>
          </div>
          <h3>Florine</h3>
        </div>
      </div>
    </div>
  </div>
</div>
