<!-- ### META DONNEE -->
<% content_for (:title) do %>
  <%= "Accueil" %>
<% end %>
<% content_for :meta_title, "test" %>

<!-- BANNER -->
<%= render "shared/banner" %>

<!-- COMMENT CA MARCHE -->
<div class="wd-section">
  <div class="container text-center">

    <h1>Comment ça marche ?</h1>
    <br>
    <br>
    <div class="row text-center">

      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="wd-icon">
          <%=image_tag 'cliquez.png', :size => '100x100' %>
        </div>
        <br>
        <br>
        <h4>Recevez un lien par votre freelance vers votre projet</h4>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-icon">
          <%=image_tag 'projet.png', :size => '100x100' %>
        </div>
        <br>
        <br>
        <h4>Accedez à votre espace personnel et au dashboard de votre projet</h4>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-icon">
          <%=image_tag 'communiquez.png', :size => '100x100' %>
        </div>
        <br>
        <br>
        <h4>Communiquez facilement avec votre freelance via la plateforme</h4>
      </div>

    </div>
  </div>
</div>

<!-- AVANTAGES -->
<div class="wd-section">
  <div class="container text-center">

    <h1>Nos avantages</h1>
    <br>
    <br>
    <div class="row text-center">

      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="wd-icon">
          <%=image_tag 'fast.png', :size => '100x100' %>
        </div>
        <br>
        <br>
        <h4>Gagnez du temps dans la gestion de votre projet</h4>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-icon">
          <%=image_tag 'handcheck.png', :size => '100x100' %>
        </div>
        <br>
        <br>
        <h4>Communiquez de manière transparente et simple</h4>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-icon">
          <%=image_tag 'checkez.png', :size => '100x100' %>
        </div>
        <br>
        <br>
        <h4>Optimisez vos résultats</h4>
      </div>

    </div>
  </div>
</div>

<!-- EQUIPE -->
<div class="wd-section">
  <div class="container text-center">
    <h1>Notre équipe</h1>
    <br>
    <br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="fiche-equipe">
          <div class="wd-avatar">
            <%=image_tag 'mathieu.jpg', class:"wd-avatar-lg" %>
          </div>
          <h4>Matthieu Seynaeve</h4>
          <p><strong>Co-fondateur</strong></p>
          <a href="#"><i class="fa fa-linkedin-square fa-2x" style="color:#0B173B;"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="fiche-equipe">
          <div class="wd-avatar">
            <%=image_tag 'franco.jpg', class:"wd-avatar-lg" %>
          </div>
          <h4>Franco Muoio</h4>
          <p><strong>Co-fondateur</strong></p>
          <a href="#"><i class="fa fa-linkedin-square fa-2x" style="color:#0B173B;"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="fiche-equipe">
          <div class="wd-avatar">
            <%=image_tag 'profile.jpg', class:"wd-avatar-lg" %>
          </div>
          <h4>Florine Lequette</h4>
          <p><strong>Co-fondateur</strong></p>
          <div wd-links>
            <a href="#"><i class="fa fa-linkedin-square fa-2x" style="color:#0B173B;"></i>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
